.card__container{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:unset;
    align-content:center;
    margin-left: 130px;
  } 
  .card{
   border:#8c1859 solid 3px;
   margin: 5px;
   box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 1);
  }
  .btn{
    background-color: #8c1859;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .btn:hover{
    background-color:  #ffb629;
  }
  .table{
    background-color: #fff;
  }