
<!-- <div class="card__container">
<div *ngIf="producto">
<div class="card w-250">
    <div class="card-body">
    <img src="..." alt="..." class="img-thumbnail">
      <h5 class="card-title">{{producto.nombre}}</h5>
      <input class="cant" type="number" [(ngModel)]="producto.cantidad" min="0" (ngModelChange)="modelChanged($event)"/>
    </div>
  </div>
</div>
</div> -->
<!-- <div *ngIf="producto">
    <div>{{producto.nombre}}</div>
    <input type="number" [(ngModel)]="producto.cantidad" min="0" (ngModelChange)="modelChanged($event)"/>
  </div> -->
