<div class="BG" #bg>
    <div class="login-box">
      <!-- <button class="btnClose" (click)="showHidden()">
        <mat-icon>close</mat-icon> 
      </button>-->
      <h2>Añadir al carrito</h2>
      <form >
        <div class="user-box">
          <input type="number" name="cantidad" required/>
          <label>cantidad</label>
        </div>
        <div class="user-box">
          <input type="number" name="precio" required />
          <label>precio</label>
        </div>
        <div class="user-box">
          <input type="number" name="total"  required />
          <label>total</label>
        </div>
        <button class="upload">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Añadir
        </button>
      </form>
    </div>
  </div>

